<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>toDoList</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <div class="nav-title">
            <h2>toDoList</h2>
        </div>
        <div class="nav-list">
            <ul>
                <li><a href=""><button  class="btn">Features</button></a></li>
                <li><a href=""><button  class="btn">Templates</button></a></li>
                <li><a href=""><button  class="btn">For Team</button></a></li>
                <li><a href=""><button  class="btn">Reasources</button></a></li>
                <li><a href=""><button  class="btn">Pricing</button></a></li>
                <li><a href=""><button class="btn">Log in</button></a></li>
                <li><button class="btn btn2">Start for free</button></li>
            </ul>
        </div>
    </nav>

<section class="middle-container">
    <div class="mid-div">
       <h1>Accomplish Your Task <br>in more Organize way</h1>
       <p>Become focused, organized, and <br>calm with Todoist.
       The world’s #1 <br>task manager and to-do list app.</p>
     <button class="btn2 btn"><a href="/list">Start for free</a></button>
</div>

<div class="mid-content">
    <div class="content-1">
        <p>Get more done</p>
        <h3> Add your Task</h3>
        <h3> Organize your life</h3>
       <h3>Achieve more every day.</h3> 
        <p>Add tasks like “Read work emails every day at 10am” <br> to fill your to-do list in seconds using Todoist’s powerful natural language recognition and recurring dates.</p>
    </div>

    <div class="content-2">
        <img src="images/img-1.webp" alt="">
    </div>
</div>

<div class="mid-content mid-con-2">
    <div class="content-1"> <p>Clear your mind</p>
         <h3>Reach that mental clarity you’ve been longing for.</h3>
        <p> Your to-do lists are automatically sorted into Today, Upcoming and custom Filter views to help you focus on your most important things.</p>
       </div>
    <div class="content-2">
        <img src="images/img--2.webp" alt="">
    </div>
</div>
     
</section>

<section class="bottom-sec">
  <div class="last-cont">
    <div><img src="images/img-3.webp" alt=""></div>
    <div><h2>Achieve peace of mind with Todoist</h2>
    <button class="btn btn2"><a href="/list">Start for free</a></button></div>
</div>

</section>
<hr>
<section class="About-us">
    
  <div class="last-cont-2">

    <div class="lists">
        <h2>toDoList</h2>
        <p>Join millions of people who organize <br>work and life with Todoist.</p>
    </div>

    <div class="lists">
        <h3>Featires</h3>
        <p> <button class="btn">How It Works</button></p>
        <p> <button class="btn">For Teams</button></p>
        <p> <button class="btn">Pricing</button></p>
        <p> <button class="btn">Templates</button></p>
    </div>

    <div class="lists">
        <h3>Reasources</h3>
        <p><button class="btn">Download App</button></p>
        <p><button class="btn">Help Center</button></p>
        <p><button class="btn">Productivity Methods</button></p>
        <p><button class="btn">Integrations</button></p>
        <p><button class="btn">Channel partners</button></p>
        <p><button class="btn">Developer API</button></p>
    </div>

    <div class="lists">
        <h3>Company</h3>
        <p><button class="btn">About Us</button></p>
        <p><button class="btn">Careers</button></p> 
        <p> <button class="btn">inspiration Hub</button></p>
        <p> <button class="btn">Press</button></p>
        <p> <button class="btn">Twist</button></p>
    </div>
    <div class="lists">
        <a href="">tw</a>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href="">yt</a>
        <a href="">int</a>
   </div>
  </div>
</section>

<footer>
    @copyright-Sayyub
</footer>


</body>
</html>